<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/head') %>
<body id="page-top">
    <a href="/users"><h1>User</h1></a>
</body>
<script>
    fetch('/alluser')
  .then((response) => response.json())
  .then((data) => console.log(data));
</script>
</html>